@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: "poppins", sans-serif;
  line-height: 0.5rem;
}

.slider {
  width: 1500px;
  height: 700px;
  border-radius: 10px;
  overflow: -moz-hidden-unscrollable;
  line-height: 2rem;
}

.titlebtn {
  display: flex;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 1500px;
  height: 600px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  padding-left: 300px;
}
nav {
  flex: 1;
  text-align: center;

  margin-top: 2px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  background-color: rgba(251, 255, 0, 0.329);
}

nav ul li {
  display: inline-block;
  margin: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.icon {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.text {
  position: absolute;
  padding-left: 300px;
  padding-top: 200px;
  color: white;
  text-align: left;
}

.textheader {
  font-size: 30px;
  font-weight: bolder;
}

.div2head {
  color: rgb(120, 150, 15);
  font-size: 40px;
  font-weight: bold;
  margin-left: 500px;
  text-shadow: 0 0 3px #c7ccbe, 0 0 5px #75ff93;
}

.part2 {
  margin-right: 170px;
  line-height: 1.2rem;
  font-weight: 500;

  /* margin-left: 50px; */
}

.row-sec2 {
  margin: 0 -5px;
  padding-top: 50px;
  margin-left: 220px;
  text-align: center;
}
.column-sec2 {
  float: left;
  width: 50%;
  /* padding: 10px; */
  height: 200px;
  margin-bottom: 100px;
  /* margin-left:px; */
  word-wrap: break-word;
}
.column-sec2 img {
  display: block;

  width: 50%;
  margin-top: -15px;
  /* max-width: 100%; */
  margin-left: 50px;
  height: auto;
  background-size: cover;
}
.column-sec2 p {
  padding-left: 50px;
  padding-right: 10px;
  color: rgb(53, 53, 53);
  word-wrap: break-word;
  text-align: justify;
  margin-left: 100px;
  text-justify: inter-word;
}
.about__social-icon {
  padding: 7px;
}
.opt {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  text-align: center;
}

.col {
  margin-right: 30px;
  justify-content: center;
}

.fa {
  background: #08a04d7c;
  padding: 20px;
  font-size: 1rem;
  size: 1rem;
  border-radius: 50px;
  color: white;
}

.info {
  width: 60%;
  text-align: center;
  padding: 0;
  margin-left: 50px;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

span {
  display: inline-flex;
  width: 180px;
  height: 55px;
  /* margin: 0 15px; */
  perspective: 1000px;
}
span a {
  font-size: 10px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "Learn More";
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(69, 71, 70, 0.356);
  box-sizing: border-box;
  border-radius: 5px;
}
span a {
  color: rgba(21, 19, 107, 0.973);
  background: whitesmoke;
}

span a:hover {
  background: #04e487fa;
}

.part2btn {
  margin-left: 60px;
}

hr {
  width: 60%;
  position: relative;
  top: 20px;
  border: none;
  height: 6px;
  background: rgba(160, 154, 154, 0.733);
  margin-bottom: 50px;
  margin-left: 300px;
}

.heading {
  text-align: center;
  color: black;
  font-weight: bold;
}

.cards {
  display: flex;
  background: rgb(161, 153, 153);
  line-height: 1.5rem;
}

.projcard img {
  height: 500px;
  width: 340px;
}

.projcard:hover {
  background: rgba(29, 117, 41, 0.377);
  color: #fff;
}

.projcard span {
  padding-left: 20px;
}

.projcard h3 {
  padding-left: 20px;
}
.projcard p {
  padding-left: 20px;
  word-break: normal;
}

.pricing {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 50px;
}

.pricing-table {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 100px;
}

.price {
  padding-right: 10px;
  padding-left: 5%;
}

.pricebtn {
  height: 40px;
  width: 120px;
  background: rgb(7, 122, 51);
  color: whitesmoke;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 800;
  border: none;
  transition: 2s;
}

.pricebtn:hover {
  background: #c4d61c;
  color: var(--dark-color);
}

#div1 {
  border-right: 6px solid gray;
  padding-right: 50px;
}

.videoProjects {
  text-align: center;
  color: rgb(116, 116, 116);
  background: rgb(217, 255, 4);
}

.videos {
  display: flex;
  overflow: hidden;
}

.video {
  padding: 20px;
}
.videoProjects h1 {
  padding-top: 60px;
}

.team {
  text-align: center;
  padding-bottom: 60px;
}

.teamMembers {
  display: flex;
  justify-content: center;
}

.teamMembers img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  background-size: cover;
}

.team1 {
  padding: 50px;
  text-align: center;
}

.team1 .social {
  position: absolute;
}

.team1 .social .middle img {
  background: rgba(132, 255, 138, 0.452);
  padding: 15%;
  opacity: 0;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 70px;
  padding: 25%;
  width: 50px;
  height: 50px;
  transition: 1s;
}

.team1 .social .middle img:hover {
  opacity: 0.8;
}

.life {
  background: #fff;
  text-align: center;
  padding: 50px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  padding: 0 10px;
  height: 100px;
  width: 100px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 10px 0;
  height: 70%;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fa-arrow-right {
  margin-top: 10px;

  padding: 50% 20%;
}

.fa-arrow-left {
  margin-top: 10px;
  padding: 50% 20%;
}

.newsletter img {
  width: 1400px;
  height: 300px;
}

.search {
  position: absolute;
  display: flex;
  border: none;
  margin: 120px 510px;
}

.search input {
  height: 25px;
  width: 250px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(135, 255, 98), rgb(230, 255, 86)) 10;
}

.search input:hover {
  background-color: rgb(221, 221, 221);
}

.search button {
  width: 100px;
  font-weight: bold;
  transition: 1s;
  border: none;
}

.search button:hover {
  background-color: rgba(187, 255, 0, 0.582);
}

.signup {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 550px;
  position: absolute;
  color: rgb(221, 224, 216);
}

.blog-title {
  text-align: center;
  padding-top: 100px;
}

.blogging {
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
  padding: 20px;
}

.blog {
  padding: 5% 2% 10%;
  text-align: center;
}

.blog img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  background-size: cover;
}

.end {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  background: rgb(186, 233, 58);
}

.end img {
  height: 620px;
  width: 600px;
  padding-right: 60px;
}

.entry {
  padding-left: 20px;
}

.contactform {
  padding-top: 10px;
  font-size: 10px;
  align-content: center;
}

.entry .others {
  height: 20px;
  width: 250px;
}

.message {
  height: 100px;
  width: 250px;
}

.pageend {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: ;
  line-height: 1.5rem;
  background-color: rgb(0, 0, 0);
  color: white;
}

.contacts {
  padding-left: 20px;
  text-align: center;
  display: inline;
}
.ending {
  padding-left: 20px;
}
.last {
  padding-left: 70px;
}
.cr {
  text-align: center;
}
.last td {
  padding-left: 15px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.media {
  text-align: center;
  background-color: black;
  padding: 5%;
}

.icon {
  padding-right: 5px;
}

.logo {
  width: 70%;
  height: 70%;
  padding-left: 110px;
  padding-top: 70px;
}

.logoend {
  border-right: 3px solid rgb(224, 98, 14);
}

.send {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  height: 30px;
  width: 130px;
  outline: none;
  background: rgb(92, 117, 0);
  color: #fff;
  transition: 1s;
  border-radius: 8px;
  margin-left: 350px;
  margin-bottom: 10px;
}

.send:hover {
  width: 200px;
  border-radius: 20px;
  opacity: inherit;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
